.navbar {
    background-color: white;
    min-height: 60px;
}

.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
    color: #FC6088;
    background-color: white;
}

.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
    color: #FC6088;
    background-color: white;
}

.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:hover,
.navbar .navbar-nav > .open > a:focus {
    color: #FC6088;
    background-color: white;
}

body {
  background-color: #BBE9F8;
}

#p1 {
  background-color: white;
  height: 1100px;
  padding-bottom: 0;
  margin-bottom: 0;
}

h1 {
    position: absolute;
    top: 30%;
    left: 8%;
    font-size: 45px;
    font-weight: bold;
    padding-bottom: 50px;
}

#white_square {
    position: absolute;
    left: 50%;
    width: 46%;
    margin-left: -23%;
    margin-top: 25%;
    b-webkit-box-shadow: 0 0 100px 50px #e1e7ed;
    -moz-box-shadow: 0 0 100px 50px #e1e7ed;
    box-shadow: 0 0 100px 30px #e1e7ed;
}

svg {
  display: inline-block;
  position: absolute;
  top: -140px;
  left: 0;
}

.wave {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 30%;
  vertical-align: middle;
  overflow: hidden;
}