.navbar {
  background-color: #eee3f7;
  min-height: 60px;
}

.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
    color: #FC6088;
    background-color: #eee3f7;
}

.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
    color: #FC6088;
    background-color: #eee3f7;
}

.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:hover,
.navbar .navbar-nav > .open > a:focus {
    color: #FC6088;
    background-color: #eee3f7;
}

body {
  background: url("images/purple.png") no-repeat;
  background-size: 100%;
}

.wave {
  position: relative;
  width: 100%;
  padding-bottom: 29%;
}

h1 {
    position: absolute;
    top: 32%;
    left: 5%;
    font-size: 45px;
    font-weight: bold;
}

.square:before{
  content: "";
  display: block;
  padding-top: 100%;
}

.square {
  border: 3px solid white;
}

.image {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  height: 80%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #ffccff;
}

.square:hover .overlay {
  opacity: 0.7;
}

.text {
  color: #FC6088;
  opacity: 1;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  transition: .5s ease;
}

.square:hover .text {
  opacity: 1;
}

a:hover {
  color: #FC6088;
}

.modal-content {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.modal-header {
  background-color: #FEBEBF;
  color: white;
  border: none;
}

.placeholder {
  width: 100%;
}