.navbar {
  background-color: #eee3f7;
  min-height: 60px;
}

.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
    color: #FC6088;
    background-color: #eee3f7;
}

.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
    color: #FC6088;
    background-color: #eee3f7;
}

.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:hover,
.navbar .navbar-nav > .open > a:focus {
    color: #FC6088;
    background-color: #eee3f7;
}

svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.wave {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 30%;
  vertical-align: middle;
  overflow: hidden;
}

h1 {
    position: absolute;
    top: 45%;
    left: 8%;
    font-size: 45px;
    font-weight: bold;
    padding-bottom: 50px;
}

.square:before{
    content: "";
    display: block;
    padding-top: 100%;
}

.square {
    border: 3px solid white;
    text-align: right;
}

.text {
    position: absolute;
    top: 85%;
    left: 60%;
    font-size: 25px;
    font-weight: bold;
}