svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.wave {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 30%;
  vertical-align: middle;
  overflow: hidden;
}

h1 {
    position: absolute;
    top: 62%;
    left: 5%;
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 50px;
}

.square:before{
    content: "";
    display: block;
    padding-top: 100%;
}

.square {
    border: 3px solid white;
    text-align: right;
}

.text {
    position: absolute;
    top: 85%;
    left: 60%;
    font-size: 25px;
    font-weight: bold;
}