#logo {
    position: absolute;
    left: 50%;
    width: 50%;
    margin-left: -25%;
}

#angel {
    position: absolute;
    width: 35%;
    top: 55%;
    left: 65%;
}

#p1 {
    background-color: white;
    margin-top: 230px;
    height: 540px;
}

#p2 {
    background-color: #9DC8FB;
    height: 900px;
}

#white_square {
    position: absolute;
    left: 50%;
    width: 50%;
    margin-left: -25%;
    margin-top: 10%;
}

svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.wave {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 30%;
  vertical-align: middle;
  overflow: hidden;
}

h1 {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    padding-bottom: 50px;
}

.square:before{
    content: "";
    display: block;
    padding-top: 100%;
}

.square {
    border: 3px solid white;
}