.navbar {
    background-color: #C5D8F6;
    min-height: 60px;
}

.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
    color: #FC6088;
    background-color: #C5D8F6;
}

.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
    color: #FC6088;
    background-color: #C5D8F6;
}

.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:hover,
.navbar .navbar-nav > .open > a:focus {
    color: #FC6088;
    background-color: #C5D8F6;
}

body {
  background: url("images/blue.png") no-repeat;
  background-size: 100%;
}

.wave {
  position: relative;
  width: 100%;
  padding-bottom: 29%;
}

h1 {
    position: absolute;
    top: 32%;
    left: 5%;
    font-size: 45px;
    font-weight: bold;
}

.square:before{
    content: "";
    display: block;
    padding-top: 100%;
}

.square {
    border: 26px solid #9DC8FB;
    text-align: right;
}

.text {
    position: absolute;
    top: 85%;
    left: 60%;
    font-size: 25px;
    font-weight: bold;
}