body {
  background: url("images/pink.png") no-repeat;
  background-size: 100%;
}

.wave {
  position: relative;
  width: 100%;
  padding-bottom: 29%;
}

h1 {
    position: absolute;
    top: 32%;
    left: 5%;
    font-size: 45px;
    font-weight: bold;
}

.square:before{
  content: "";
  display: block;
  padding-top: 100%;
}

.square {
  border: 3px solid white;
  text-align: right;
}

.text {
  position: absolute;
  top: 85%;
  left: 60%;
  font-size: 25px;
  font-weight: bold;
}