.shop {
  background: url("images/pink.png") no-repeat;
  background-size: 100%;
}

.wave {
  position: relative;
  width: 100%;
  padding-bottom: 29%;
}

.h1 {
  position: absolute;
  top: 32%;
  left: 5%;
  font-size: 45px;
  font-weight: bold;
}

.h1-product {
  position: absolute;
  top: 32%;
  left: 5%;
  font-size: 35px;
  font-weight: bold;
}

.square:before{
  content: "";
  display: block;
  padding-top: 100%;
}

.square {
  border: 3px solid white;
  text-align: right;
}

.text-shop {
  position: absolute;
  bottom: 6%;
  right: 8%;
  font-size: 25px;
  font-weight: bold;
}

.milkfart {
  background: url("images/blue.png") no-repeat;
  background-size: 100%;
}

.square-small {
    border: 26px solid #9DC8FB;
    text-align: right;
}

.squares-milkfart {
  height: 700px;
}

.artists {
  background: url("images/purple.png") no-repeat;
  background-size: 100%;
}

.square-artists:before{
  content: "";
  display: block;
  padding-top: 100%;
}

.square-artists {
  border: 3px solid white;
}

.image {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  height: 80%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #ffccff;
}

.overlay2 {
  background-image: url('images/tr_front.png');
  background-position: center;
  background-size: 120%;
  background-repeat: no-repeat;
}

.overlay2:hover {
  background-image: url('images/tr_back.png');
}

#overlay2, #overlay3 {
  display: none;
  transition: 2s ease;
  z-index: 0;
}

#img, #img2 {
  display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

#back, #back2 {
  position: absolute;
  top: 15px;
  left: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

#back:hover, #back:focus {
  color: #8cd9f2;
  text-decoration: none;
  cursor: pointer;
}

#back2:hover, #back2:focus {
  color: #fdb4b5;
  text-decoration: none;
  cursor: pointer;
}

.square-artists:hover .overlay {
  opacity: 0.7;
  cursor: pointer;
}

.text-artists {
  color: #FC6088;
  opacity: 1;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  transition: .5s ease;
}

.square-artists:hover .text-artists {
  opacity: 1;
  cursor: pointer;
}

.text-artists:hover {
  color: #FC6088;
  cursor: pointer;
}

.modal-content {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.modal-header {
  background-color: #FEBEBF;
  color: white;
  border: none;
}

/*ABOUT*/

.about {
  background-color: #BBE9F8;
}

.title {
  position: relative;
  width: 100%;
  padding-bottom: 29%;
  background-color: white;
}

#img-about {
  background-color: white;
  height: 700px;
}

#square-about {
    position: absolute;
    left: 50%;
    width: 46%;
    margin-left: -23%;
    b-webkit-box-shadow: 0 0 100px 50px #e1e7ed;
    -moz-box-shadow: 0 0 100px 50px #e1e7ed;
    box-shadow: 0 0 100px 30px #e1e7ed;
}

svg {
  display: inline-block;
  position: absolute;
  top: -140px;
  left: 0;
}

.wave-about {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 30%;
  vertical-align: middle;
  overflow: hidden;
}

#logo {
    position: absolute;
    left: 50%;
    width: 50%;
    margin-left: -25%;
    margin-top: -55px;
}

#raccoon_pink {
    position: absolute;
    width: 30%;
    top: 55%;
    left: 1%;
}

#angel {
    position: absolute;
    width: 35%;
    top: 50%;
    left: 64%;
}

#p1 {
    background-color: white;
    margin-top: 230px;
    height: 540px;
}

#p2 {
    height: 100%;
    padding-bottom: 5%;
}

#square-home {
    position: absolute;
    left: 50%;
    width: 50%;
    margin-left: -25%;
    margin-top: 10%;
}

svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.wave-index {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 30%;
  vertical-align: middle;
  overflow: hidden;
}

.h1-index {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  padding-bottom: 50px;
}

.square-product {
  margin-left: 8%;
  margin-bottom: 50%;
  width: 80%;
  b-webkit-box-shadow: 0 0 100px 50px #e1e7ed;
  -moz-box-shadow: 0 0 100px 50px #e1e7ed;
  box-shadow: 0 0 100px 30px #e1e7ed;
}

.product {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  height: 80%;
}

.text-product {
  font-size: 25px;
  font-weight: bold;
}

.return-link {
  color: black;
}

.return-link:hover {
  color: #FC6088;
  cursor: pointer;
}

.artist {
  display: flex;
  align-items:top;
}

.gallery {
  display: flex;
  justify-content: space-between;
  margin-top: 4%;
  margin-bottom: 1%;
}

.art:hover {
  opacity: 0.7;
  cursor: pointer;
}

.name {
  margin-left: 15px;
}