.navbar {
    background-color: #ffefef;
    min-height: 110px;
}

.navbar-brand {
    padding: 0 15px;
    height: 110px;
    line-height: 110px;
  }

.navbar-fixed-top .navbar-nav > li > a {
    color: #8096e5;
    line-height: 110px;
    padding-right: 40px;
    font-size: 15px;
    font-weight: bold;
}

#raccoon {
    height: 130px;
    padding-left: 20px;
}

#right {
    padding-right: 80px;
}

#logo {
    position: absolute;
    left: 50%;
    width: 50%;
    margin-left: -25%;
}

#angel {
    position: absolute;
    width: 35%;
    top: 55%;
    left: 65%;
}

#p1 {
    background-color: white;
    margin-top: 230px;
    height: 700px;
}

#p2 {
    background-color: #aad2ff;
    height: 1000px;
}